:host {
    display: flex;
    flex-direction: column;
    overflow: hidden;
    margin: -24px;
    position: relative;
    padding: 5px 15px 15px;
    background-color: #653711;

    &::before {
        content: '';
        background-color: white;
        position: absolute;
        top: 5px;
        left: 15px;
        bottom: 15px;
        right: 15px;
    }

    &::after {
        content: '';
        position: absolute;
        top: 5px;
        left: 15px;
        bottom: 15px;
        right: 15px;
        background: transparent url(../../../assets/summary-background.jpg) no-repeat center center;
        background-size: cover;
        z-index: 0;
        opacity: .5;
    }

    > * {
        position: relative;
        z-index: 1;
    }
}

section {
    flex: 1;
    display: flex;
    flex-direction: row;
    overflow: hidden;
    box-shadow: 0px 4px 10px 0px black;

    > div {
        flex: 1;
        padding: 30px;
    }

    .mobile-scroll {
        flex: 1;
        overflow: hidden;
        display: flex;
        flex-direction: column;
    }
}

#summary {
    display: flex;
    flex-direction: column;
    margin-right: 5px;
    margin-left: 5px;

    h1 {
        margin: 0;
        text-transform: uppercase;
        text-align: center;
        font-family: 'Amatic SC', cursive;
        font-weight: bold;
        font-size: 2.8em;
        margin-top: -15px;
        margin-bottom: 10px;
        letter-spacing: -1px;
        line-height: 1em;
    }

    h2 {
        margin: 0;
        text-transform: uppercase;
        text-align: center;
        font-family: 'Amatic SC', cursive;
        font-size: 1.6em;
        margin-top: -10px;
        margin-bottom: 20px;
    }

    #global-map {
        flex: 1;
    }
}

.transports {
    text-align: center;
    margin-top: 10px;
    margin-bottom: 10px;

    img {
        max-width: 45px;
        margin: 0 5px;
    }
}

i {
    vertical-align: sub;
}

.columns {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.calendar {
    font-size: 1.4em;
    font-family: 'Caveat', cursive;
}

.people {
    i {
        margin-left: -12px;
    }
    span + i {
        margin-left: 0;
    }
}

.page {
    &:not(.shown) {
        display: none !important;
    }
}

.chapter {
    display: flex;
    flex-direction: row;
    position: relative;

    > div {
        flex: 1;
        flex-direction: column;
        position: relative;
        display: flex;
    }

    h3 {
        font-family: 'Caveat', cursive;
        padding: 0;
        margin: 0;
        text-align: center;
    }

    h4 {
        font-family: 'Amatic SC', cursive;
        padding: 0;
        margin: 0;
        text-align: center;
        font-size: 2.5em;
        font-weight: normal;
        letter-spacing: -2px;
    }

    h5 {
        margin-bottom: -4px;
        margin-top: 15px;
    }

    article {
        flex: 1;
        text-align: justify;
        display: flex;
        overflow: hidden;
        font-family: 'Kalam', cursive;
        line-height: 1.2em;
        font-size: 1.1em;
        margin-bottom: 10px;
        margin-top: 10px;

        > div {
            flex: 1;
            overflow-y: scroll;
            margin-right: -50px;
            padding-right: 50px;
        }
    }

    button {
        position: absolute;
        background: transparent;
        border: 0;
        height: 150px;
        top: calc(50% - 75px);
        cursor: pointer;
        padding: 0;
        outline: 0;
        z-index: 2;

        i {
            font-size: 40px;
        }
    }

    &.page-left {
        padding-left: 40px;

        &.shown {
            + .fake-page {
                display: block !important;
            }
        }
    }
    &.page-right {
        padding-right: 40px;
    }
    .btn-left {
        left: 0;
    }
    .btn-right {
        right: 0;
    }

    &.page-double {
        padding: 0;

        > div:first-of-type {
            padding: 30px 30px 30px 40px;
        }

        > div + div {
            padding: 30px 40px 30px 30px;
        }
    }

    .chapter-number {
        font-family: 'Caveat', cursive;
        text-align: center;
        font-size: 1.1em;
        display: block;
        margin-bottom: -10px;
    }
}

.infos {
    overflow: auto;
    margin-bottom: -10px;

    span {
        float: left;
        font-family: 'Caveat', cursive;
        font-size: 1.3em;
        margin: 7px 0;

        i {
            font-size: 24px;
        }
    }

    div {
        float: right;
    }

    img {
        height: 35px;
        margin: 0 5px;
    }
}

.photo-page {
    justify-content: center;
    overflow-y: auto;

    &.multi {
        justify-content: flex-start;
        padding-top: 50px !important;

        app-photo {
            max-width: 70%;
            cursor: zoom-in;

            &:nth-child(even) {
                align-self: flex-end;
                transform: rotate(3deg);
                margin-top: -35px;
            }

            &:nth-child(odd) {
                margin-top: -15px;
            }
        }
    }
}

.map-chapter {
    height: 300px;
}

::-webkit-scrollbar {
    width: 0px;
    background: transparent;
}

.overlay {
    background-color: rgba(0, 0, 0, .6);
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    display: none;
    align-items: center;
    justify-content: center;
    z-index: 3;

    &.opened {
        display: flex;
    }

    img {
        cursor: zoom-out;
        max-width: 100%;
        max-height: 100%;
    }
}