@media (max-width: 800px) {
    h1 {
        font-size: 2.3em !important;
    }

    .calendar {
        font-size: 1.1em;
    }

    .chapter {
        display: flex;
        position: relative;
    
        > div:not(.photo-page) {
            display: flex;

            > div {
                flex: 1;
                position: relative;
                display: block;
            }

            .mobile-scroll {
                max-height: 100%;
                overflow: auto;
            }
        }

        article {
            > div {
                padding-right: calc(.5em - 5px);
                padding-left: .5em;
            }
        }
    }

    :host {
        &::after {
            background-position: right;
        }
    }

    section {
        display: block;
        overflow-y: auto;

        > * {
            flex: unset !important;
            overflow: unset !important;
        }
    }

    #summary {
        flex: 1 0 auto;
        min-height: 350px;
        padding-bottom: 0;
    }

    .chapter {
        flex-direction: column;

        button {
            position: fixed;
            top: calc(50vh - 75px);

            &.btn-right {
                right: 3vw;
            }

            &.btn-left {
                left: 3vw;
            }
        }

        &.page-double {
            > div {
                + div {
                    padding: 30px;
                    padding-top: 0;
                    overflow: unset;
                }
            }
        }

        &.page-right {
            padding-top: 0;
        }
    }

    .photo-page {
        min-height: 30vh;
        overflow-y: unset;
        display: block;
        padding-bottom: 20px !important;
    }

    .page-left {
        .chapter-number {
            display: none;
        }
    }
}

@media (max-width: 800px) and (min-width: 600px) {
    :host {
        &::after {
            background-size: auto 138%;
        }
    }
}