:host {
    display: flex;
    flex-direction: column;
    overflow: hidden;
    margin: -24px;
    position: relative;
    padding: 5px 15px 15px;
    background-color: #653711;

    &::before {
        content: '';
        position: absolute;
        top: 5px;
        left: 15px;
        bottom: 15px;
        right: 15px;
        background-color: #D2B57D;
    }

    &::after {
        content: '';
        position: absolute;
        top: 5px;
        left: 15px;
        bottom: 15px;
        right: 15px;
        background: transparent url(../../../assets/bg-stats.jpg) no-repeat center center;
        background-size: cover;
        z-index: 0;
        opacity: .25;
    }

    > * {
        position: relative;
    }
}