.toggler {
    position: absolute;
    top: 0;
    left: .5rem;
    font-family: "Amatic SC", cursive;
    background: url(../../assets/brush.png) no-repeat center center;
    background-size: contain;
    color: beige;
    border: 0;
    font-size: 2rem;
    cursor: pointer;
    padding: .5rem 2.5rem .75rem 1.5rem;
    opacity: .87;
}

aside {
    position: absolute;
    top: 0;
    left: calc(-425px - 2rem);
    bottom: 0;
    overflow: auto;
    width: 420px;
    max-width: calc(100vw - 2rem);
    background: url(../../assets/wood.jpg);
    color: white;
    padding: 1rem;
    z-index: 2;
    transition: left .5s;
    box-shadow: 5px 0 15px rgba(0, 0, 0, .15);
    font-family: "Caveat", cursive;

    &.opened {
        left: 0;

        + .overlay {
            background-color: rgba(0, 0, 0, .3);
            position: fixed;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            z-index: 1;
            cursor: pointer;
        }
    }
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

a {
    display: flex;
    flex-direction: row;
    gap: .5rem;
    align-items: center;
    text-decoration: none;
    color: inherit;
    padding: .75rem .5rem;
    position: relative;

    &:hover {
        background-color: #ffffff55;
    }

    &.first-of-year {
        margin-top: 40px;

        &::before {
            content: '';
            display: block;
            margin: 0 auto;
            width: 100px;
            border-top: 1px solid #d3d3d355;
            position: absolute;
            top: -20px;
            left: calc(50% - 50px);
        }
    }
}

a .data span {
    display: block;
}

.data {
    flex: 1;
}

.flags img {
    width: 20px;
    display: block;
    margin: 1px 0;
}

.dates {
    font-size: .95rem;
    color: yellow;
}

.cities {
    font-size: 1.2rem;
    color: lightgray;
}

.title {
    font-size: 1.6rem;
    font-weight: bold;
    line-height: 1.3rem;
}

::-webkit-scrollbar {
    width: 0px;
    background: transparent;
}

h1 {
    font-family: "Amatic SC", cursive;
    font-size: 2.5rem;
    margin: 0;
    margin-bottom: 1rem;
    font-weight: normal;
    position: relative;
    text-align: center;
}

.btn-close {
    display: none;
    right: 0;
    top: 0;
    color: beige;
    font-size: 1em;
    font-weight: bold;
    opacity: .5;
    cursor: pointer;
    
    @media (max-width: 800px) {
        display: block;
    }
}