@media (max-width: 800px) {
    .btn-close {
        display: block;
    }
}

@media (max-width: 500px) {
    :host {
        &::before {
            background-position: center left;
        }
    }

    #aside {
        display: none;
    }
}