:host {
    display: flex;
    flex-direction: column;
    overflow: hidden;
    margin: -24px;
    position: relative;
    padding: 5px 15px 15px;
    background-color: #653711;

    &::before {
        content: '';
        position: absolute;
        top: 5px;
        left: 15px;
        bottom: 15px;
        right: 15px;
        background: transparent url(../../../assets/summary-background.jpg) no-repeat center center;
        background-size: cover;
        z-index: 0;
    }

    > * {
        position: relative;
    }
}

.btn-close {
    display: none;
    border: 0;
    background: transparent;
    position: absolute;
    right: -5px;
    top: 0;
    color: #653711;
    font-size: 4em;
    font-weight: bold;
}

#aside {
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;

    > * {
        display: block;
    }
}

h1 {
    margin: 0;
    text-transform: uppercase;
    text-align: center;
    font-family: 'Amatic SC', cursive;
    font-weight: bold;
    font-size: 3.5em;
    margin-top: -15px;
    margin-bottom: 10px;
}

h2 {
    margin: 0;
    text-transform: uppercase;
    text-align: center;
    font-family: 'Amatic SC', cursive;
    font-size: 1.5em;
    margin-top: -15px;
    margin-bottom: 20px;
}

section {
    flex: 1;
    display: flex;
    flex-direction: row;
    overflow: hidden;
    box-shadow: 0px 4px 10px 0px black;

    > div {
        flex: 1;
        padding: 30px;

        &#trips {
            overflow: auto;
        }

        app-trip-recap {
            + app-trip-recap {
                margin-top: 30px;
            }
        }
    }
}