@import "~@angular/material/prebuilt-themes/indigo-pink.css";

html,
body {
    margin: 0;
    padding: 0;
    overflow: hidden;
    font-family: "Open Sans";
}

body {
    position: relative;
    background-color: #B9945C;

    &::before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-image: url(./assets/map-bg-2.jpg);
        background-size: cover;
        opacity: .5;
        background-position: center center;
    }
}

mat-dialog-container {
    overflow: hidden !important;
    display: flex !important;
    flex-direction: column;
    background: transparent;

    > * {
        flex: 1;
    }
}

.btn-close {
    display: none;
    border: 0;
    background: transparent;
    position: absolute;
    right: -5px;
    top: 0;
    color: #653711;
    font-size: 4em;
    font-weight: bold;
    
    @media (max-width: 800px) {
        display: block;
    }
}
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
